* {
	font-family: 'Baloo Paaji 2', cursive;
}

body {
    margin: 8px;
}
main {
	margin-top: 4%;
	display: grid;
	background-color: rgb(165, 194, 165);
	border-radius: 50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

#gameTitleDiv {
	display: grid;
	border: 3px solid black;
	width: 75%;
	margin: 5% auto auto auto;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3; 
	background-color: rgb(238, 221, 207);
}

#gameTitle {
	text-align: center;
	padding: 5px 10px 10px 10px;
	font-size: 60px;
	
}

#gameScoreDiv {
	border-radius: 15px;
	background-color: rgb(238,221,207);
	text-align: center;
	height: 35%;
}

h2 {
	margin: 0;
	padding: 35px;
	font-size: 30px;
}

#end {
	display: none;
	margin-top: 8%;
	height: 230%;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 8; 
}

form {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 7; 
	background-color: white;
    margin: auto auto auto auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

#formDiv {
	margin-top: 7%;
}

#categoryLabel, #diffLabel {
	font-size: 20px;
}

#category, #diff {
	font-size: 16px;
}

#submit {
	width: 100px;
	height: 30px;
	border-radius: 15px;
	margin-bottom: 4%;
}

#questions {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 8; 
	margin-bottom: 5%;

}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10 {
    text-align: center;
    margin: auto;
    border: solid 2px black;
    width: 100%;
    height: 60%;
    border-radius: 30px;
	margin-top: 20%;
	background-color: white;
}



#q0cat, #q1cat, #q2cat, #q3cat, #q4cat,
#q5cat, #q6cat, #q7cat, #q8cat, #q9cat {
    padding-top: 8%;
    padding-bottom: 5%;
    text-transform: capitalize;
    font-size: 40px;
}

/*Need to check these for the Javascript*/

#q1 {display: none;}
#q2 {display: none;}
#q3 {display: none;}
#q4 {display: none;}
#q5 {display: none;}
#q6 {display: none;}
#q7 {display: none;}
#q8 {display: none;}
#q9 {display: none;}
#q10 {display: none;}

#q0question, #q1question, #q2question, #q3question, 
#q4question, #q5question, #q6question, #q7question, 
#q8question, #q9question  {
	font-size: 20px;
	margin: auto auto 5% auto;
}

#q0correct, #q0wrong, #q0wrong2, #q0wrong3,
#q1correct, #q1wrong, #q1wrong2, #q1wrong3,
#q2correct, #q2wrong, #q2wrong2, #q2wrong3,
#q3correct, #q3wrong, #q3wrong2, #q3wrong3,
#q4correct, #q4wrong, #q4wrong2, #q4wrong3,
#q5correct, #q5wrong, #q5wrong2, #q5wrong3,
#q6correct, #q6wrong, #q6wrong2, #q6wrong3,
#q7correct, #q7wrong, #q7wrong2, #q7wrong3,
#q8correct, #q8wrong, #q8wrong2, #q8wrong3,
#q9correct, #q9wrong, #q9wrong2, #q9wrong3 {
    margin: auto auto 5% auto;
    width: 35%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}

#q0correct:hover, #q0wrong:hover, #q0wrong2:hover, #q0wrong3:hover,
#q1correct:hover, #q1wrong:hover, #q1wrong2:hover, #q1wrong3:hover,
#q2correct:hover, #q2wrong:hover, #q2wrong2:hover, #q2wrong3:hover,
#q3correct:hover, #q3wrong:hover, #q3wrong2:hover, #q3wrong3:hover,
#q4correct:hover, #q4wrong:hover, #q4wrong2:hover, #q4wrong3:hover,
#q5correct:hover, #q5wrong:hover, #q5wrong2:hover, #q5wrong3:hover,
#q6correct:hover, #q6wrong:hover, #q6wrong2:hover, #q6wrong3:hover,
#q7correct:hover, #q7wrong:hover, #q7wrong2:hover, #q7wrong3:hover,
#q8correct:hover, #q8wrong:hover, #q8wrong2:hover, #q8wrong3:hover,
#q9correct:hover, #q9wrong:hover, #q9wrong2:hover, #q9wrong3:hover {
	background-color: rgba(211, 224, 200, 0.76);
}